body{font-family: 'Poppins', sans-serif;
margin: 0%;}
h1{
    font-size: 50px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
h3{
    color: white;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;

}

.top-banner{
background-image: url(donate-today-main/images/donation13.jpg);
background-repeat: no-repeat;
background-size:cover;
height: 600px;
}
.link-button{
    background-image: linear-gradient(skyblue,pink);
    text-decoration: none;
    text-align: center;
    color:blueviolet;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 50px;
}
.container{
    text-align: center;
    padding-top: 5px;
}

#manza-mara{
    color: black;
    font-weight: 700;
    margin-top: 30px;

}    
#box-one{
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}
#box-two{
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    background: pink;
}
#box-three{
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}
#box-four{
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}
#box-five{
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}
.hori-zon{
    width: 50%;
    height: 2px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    background-color: gray;
    margin-bottom: 50px;

}
p{
    font-size: 20x;
    color: gray;
    text-align: center;
    margin-top: 40px;
    
}
#margin-ally{
    margin-top: 10px;
    
}
h2{
    text-align: center;
    font-weight: 800px;
    margin-top: 70px;
}
#bound-one{
    width: 300px;
    height: 400px;
    font-size: 22px;
    background: wheat;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#bound-two{
    width: 300px;
    height: 400px;
    font-size: 22px;
    background: pink;
    margin: 20px;

}
#bound-three{
    width: 300px;
    height: 400px;
    font-size: 22px;
    background: lightblue;
    margin: 20px;
}
.dis-play{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 10px;
    
}
#pad-in{
    padding-top: 10px;
}
.front-in{
    justify-content: center;
}
.half-width{
    width: 50%;
    padding-left: 5%;
padding-right: 5%;
}
.half-width img{
    width: 80%;
}
.flexible-con{
    display: flex;
    margin-bottom: 100px;
    margin-top: 200px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

}
.form-box{
    padding: 30px;
    border-radius: 10px;
    background: plum;
    box-shadow: 10px 10px 15px aquamarine; -10px 
}
.form-box input{
    font-size: 18px;
    color: blueviolet;
    padding: 15px 10px;
    border: none;
    outline: none;
    background: pink;
}
.form-box button{
    color: teal;
    padding: 15px 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
footer{
    bottom: 0;
    text-align: center;
    background-color: black;
    width: 100%;
    color: tomato;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder
}